* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 20, 23);
  font-family: 'Golos Text', sans-serif;
  overflow: hidden;
  color: rgb(242, 242, 242);
}

main {
  display: flex;
  height: 100vh;
}

/* Iframe Navegation Bar */
#iframe-nav-bar {
  width: 200px;
}

/* Navegation Bar Start */
nav {
  display: flex;
  background-color: rgb(31, 32, 39);
  flex-direction: column;
  flex-basis: 200px;
  color: rgb(242, 242, 242);
  text-align: center;
  padding-top: 20px;
  align-items: center;
  height: 100vh;
}

nav .logo {
  width: 150px;
  height: 75px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  filter: brightness(300%);
}

nav a {
  text-decoration: none;
  color: rgb(242, 242, 242);
  padding: 10px;
  width: 100%;
}

nav a:hover {
  background-color: rgba(20, 20, 21, 0.784);
  transition: 300ms
}

/* Navigation Bar End */

/* Search Bar Start */

#iframe-search {
  width: 100%;
  height: 65px;
}

#search-div {
  background-color: rgb(38, 41, 49);
  margin: 20px 15px 0;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  gap: 10px;
}

#search-div input {
  background-color: transparent;
  border: 0;
  width: 100%;
  outline: none;
  color: white;
  font-size: large;
}

/* Search Bar End */


#mainContent {
  width: 100vw;
  overflow-y: auto;
}

/* Content from the pages */
#dinamic-content {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 10px 0;
  justify-content: space-between;
  text-align: center;
}

/* Provisório de links nos cabeçalhos de seções */
#dinamic-content a.provisorio{
  text-decoration: none;
  display: block;
  margin: 10px 0;
  color: white;
  font-size: larger;
  text-shadow: 3px 4px 10px rgba(3, 102, 214, 0.3);
}
/* Fim do provisório */

#header-content {
  width: 100%;
  padding: 1rem 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
}

.header-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

#video-content,
#explanation {
  width: 49%;
  padding: 0px
}


#explanation-resume {
  width: 100%;
  margin-top: 15px;
  background-color: rgb(31, 32, 39);
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

#exercise {
  margin-top: 20px;
  width: 100%;
}

#diy {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}

#conteudo,
#renderizado {
  flex-basis: 50%;
}

#editor {
  min-height: 545px;
  text-align: left;
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  padding: 10px;
}

#editor select {
  margin: 10px 10px 10px 0;
  font-size: 20px;
  width: 80px;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(38, 41, 49);
  color: white;
}

#iframe-resultado {
  background-color: white;
  width: 100%;
  min-height: 620px;
  flex-shrink: 2;
  color: #212121;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
}

/* Generic content */
hr {
  width: 100%;
  height: 1px;
  border: 0px;
  border-top: 1px solid rgb(38, 41, 49);
  background-color: #dddddd;
}

p {
  line-height: 1.2em;
  margin: 12px 0;
}

/* inicio personalização Scroll */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(38, 41, 49, 0.8);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(78, 78, 78, 0.6);
  -webkit-box-shadow: inset 0 0 6px rgba(31, 31, 31, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(38, 41, 49);
}

/* fim personalização Scroll */

#conteudo h3,
#renderizado h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;

}

/* CSS */
.button-40 {
  background-color: #112858;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin: 10px 0;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}