*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(19, 20, 23);
  font-family: 'Golos Text', sans-serif;
  overflow: hidden;
}
main{
  display: flex;
}

nav{
  display: flex;
  background-color: rgb(31, 32, 39);
  flex-direction: column;
  flex-basis: 200px;
  color: rgb(242, 242, 242);
  text-align: center;
  padding-top: 20px;
  align-items: center;
}
nav .logo{
  width: 150px;
  height: 75px;
  background-color: red;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

nav a{
  text-decoration: none;
  color: rgb(242, 242, 242);
  padding: 10px;
  width: 100%;
}

nav a:hover{
  background-color: rgba(20, 20, 21, 0.784);
  transition: 300ms
}

#search-div{
  background-color: rgb(38, 41, 49);
  margin: 20px 15px 0;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  gap: 10px;
}

#search-div input{
  background-color: transparent;
  border: 0;
  width: 100%;
  outline: none;
  color: white;
  font-size: large;
}

#mainContent{
  width: 100vw;
}

#conteudo{
  width: calc(100%);
  height: calc(100vh - 45px);
}

#diy{
  background-color: rgb(31, 32, 39);
  border-radius: 8px;
}

textarea{
  background-color:rgb(16, 16, 17);
  margin: 10px 0;
  border-radius: 8px;
  color: beige;
}
